/* CSS FILE FOR GOAL CRITERIA PAGE AND GOAL TRACKING PAGE */
/* Also includes styling for the Manage pages*/


/*DIV STYLING ON GOAL CRITERIA PAGE*/
div.container.goals.ng-scope.layout-column.flex {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
}

div.goalHeader.layout-row.flex-none {
  background-color: #007ac1;
  color: #ffffff;
  margin-bottom: 25px;
}

h2#supportPlan {
  margin-left: 25px;
}

div#clientRepName.layout-column.flex-35 {
  margin-right: 20px;

}

div#jobsiteGoalData.layout-column.flex-35 {
  margin-right: 20px;
}

div.summaryOutcomeObjectiveDiv.layout-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

div#methodsRunDiv.layout-column.flex-30 {
  margin-right: 20px;
}

md-autocomplete-wrap.md-whiteframe-z1.md-show-clear-button {
  width: 260px;
}

md-autocomplete {
  width: 260px;
}

md-input-container.md-icon-float.md-input-has-placeholder {
  margin-top: 30px;
  margin-bottom: 30px;
}


div.layout-column.flex-40 {
  margin-right: 20px;
}

/*DIV STYLING ON EDIT GOAL PAGE*/

div.container.ng-scope {
  margin-left: 50px;
  margin-right: 50px;
}

div.container.goals.layout-coulumn.flex {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
}

div.goalSelect.layout-column.flex-30 {
  margin-right: 20px;
}

md-input-container#goalSelect {
  margin-top: 30px;
}

button.md-raised.md-warn.md-button.md-ink-ripple {
  margin-left: 45px;
  margin-top: 30px;
}


/* GOAL CRITERIA STYLING */

#goalSummaryDiv {
  margin-right: 20px;
}

#serviceOutcomeDiv {
  margin-right: 20px;
}

div.methodsDiv.layout-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

div#methodsRunDiv.layout-column.flex-50 {
  margin-right: 20px;
}

.goalHeader {
  background-color: #004ba0;
  color: #fff;
}
.userText {
  font-size: 1.2em;
}

.goalView {
  padding: 10px;
  margin: 5px;
  /*border: 1px solid #01579b;*/
}

/* GOAL TRACKING STYLING */
#leftColumn {
  padding: 10px;
}
#rightColumn {
  padding: 10px;
}
.goalBox {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.goalNameBox {
  background-color: #004ba0;
  color: #fff;
  height: 40px;
  /*border-bottom: 3px solid #007ac1;*/
}

.goalName {
  font-size: 1.5em;
  text-align: left;
  padding-left: 10px;
}

.label {
  font-weight: bold;
  color: #004ba0;
}

#clientName, #cmName {
  font-weight: normal;
  font-size: 1.4em;
  color: #000;
}

.locationName, .goalNotes, .date {
  font-weight: normal;
  font-size: 1.5em;
  color: #000;
}

.amPmButtons {
  padding-left: 5px;
}

.amComplete, .pmComplete {
  font-size: 1.2em;
}

.initialsInput {
  background-color: #f5f5f5;
}

/* HISTORY TABLE CONDITIONAL STYLING */
.goalHistoryTable {
  text-align: center;
}

.successRate {
  font-size: 2.0em;
  font-weight: bold;
}

.tableHeader {
  background-color: #b3e5fc;
}

.rowDefault {
  background-color: #f5f5f5;
  color: #fff;
  /*border-bottom: 1px solid #fff;*/
}

.rowComplete {
  background-color: #98ee99;
  color: #fff;
  /*border-bottom: 1px solid #fff;*/
}

.rowIncomplete {
  background-color: #ff6f60;
  color: #fff;
  /*border-bottom: 1px solid #fff;*/
}


/* TABLE STYLING FOR MANAGE PAGES */
table.md-table th.md-column {
  color: #007ac1;
  font-size: 1.2em;
  padding: 10px 0px;
  text-align: center;
}
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
  padding: 10px 56px 10px 0px;
}
table.md-table td.md-cell {
  font-size: 1.1em;
  text-align: center;
}
.manageTitle{
  margin-left: 20px;
}
#staffTable{
  width: 100%;
}
#addStaffBtn {
  height: 25px;
}
