* {
  /*border: 1px solid blue;*/
}
/* OVERALL GENERAL STYLING CSS FILE*/

/* OVERALL STYLING ON MAIN ELEMENTS */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #b2fab4;
  text-decoration: underline;
}

textarea {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #007ac1;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #03a9f4;
}

.bodyContainer {
  min-height: 700px;
}

hr {
	border-top: 1px solid #c2c2c2;
	text-align: center;
}
hr:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f5f5f5;
	color: #c2c2c2;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

/* ---- BASE STYLING FROM THE PROJECT TEMPLATE ---- */
.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #fff;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

/* ------- COLOR LIBRARY ---------
Primary Palette - Material Light Blue 00
Light Blue: #67daff
Medium Blue: #03a9fd
Dark Blue: #007ac1

Accent Palette - Material Green 400
Light Green: #98ee99
Middle Green: #66bb6a
Dark Green: #338ae3

Warn Palette - Material Red 500
Light Red: #ff6f60
Middle Red: #e53935
Dark Red: #ab000d

Background Palette - Material Grey 100
Middle grey: #f5f5f5
Dark grey: #c2c2c2

Material Purple 600
Light: #c158dc
Medium: #8e24aa
Dark: #5c007a


Text Color:
White & <a> on dark background: #fff
<a> hover: #b2fab4 (light green)
Black: #000
Dark blue: #007acl
<a> on light background: #03a9fd (medium blue)
<a> hover: #67daff (light blue)

*/
