.goals div {
  /*border: 1px solid blue;*/
}

textarea {
  width: 100%;
  height: 100%;
}


/* OVERALL STYLING */
body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

a {
  color: lightBlue;
}

/* INSERT YOUR STYLING HERE */






/* LOGIN SCREEN & NAVBAR STYLING */
.loginScreen a {
  color: #F3E3FF;
}

.loginScreen {
  background-image: url("https://images.unsplash.com/photo-1490272951680-512033991007?dpr=2&auto=format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=");
  background-size: cover;
  height: 700px;
}

.loginBox {
  color: white;
}

.choiceLogo {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 3.0em;
  font-family: serif;
  color: #333;
  padding-left: 20px;
  text-align: center;
}

.loginForm input {
  margin: 5px;
}

.nav-toolbar {
  color: #fff;
}

/* BASE STYLING FROM THE PROJECT TEMPLATE */
.instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}

.instructions {
  background-color: #fff;
  color: #DDDDDD;
  padding: 15px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
  color: #eee;
}
