<div class="adminhtml" layout="column" flex>
  <div class="row" flex="nogrow">
    <h2 class="whatToDo">Welcome, {{hc.userObject.name}}. <br> What would you like to do today? </h2>
  </div>
  <div layout="row" flex="nogrow">
    <ul class="userhomeOptions">
      <p><a href="#/staff">Add or update staff</a></p>
      <p><a href="#/clients">Add or update participant info</a></p>
      <p><a href="#/jobSites">Add or update job sites</a></p>
      <p><a href="#/tracking">Track goal progress for a participant</a></p>
      <p><a href="#/goal">Create a new goal criteria</a></p>
      <p><a href="#/editGoal">Edit an existing goal</a></p>
    </ul>
  </div>
</div>
