<div class="adminhtml" layout="column" flex>
  <div class="row" flex="nogrow">
    <h2 class="whatToDo">Welcome, {{hc.userObject.name}}. <br> What would you like to do today? </h2>
  </div>
  <div layout="row" flex="nogrow">
    <ul class="userhomeOptions">
      <li><a href="#/staff">Add or update staff</a></li>
      <li><a href="#/clients">Add or update participant info</a></li>
      <li><a href="#/jobSites">Add or update job sites</a></li>
      <li><a href="#/tracking">Track goal progress for a participant</a></li>
      <li><a href="#/goal">Create a new goal criteria</a></li>
      <li><a href="#/editgoal">Edit an existing goal</a></li>
    </ul>
  </div>
</div>
