<div ng-include="'views/partials/nav.html'"></div>
<!-- GOAL CRITERA PAGE - VIEW ONLY PAGE -->

<div class="container goalView" layout="column" flex>
  <md-content>

    <div layout="row" flex="none">
      <div layout="column" flex="60">
        <h2>CSSP SUPPORT AND METHODS PLAN - STEP PROGRAM GOAL</h2>
      </div>
      <div layout="column" layout-align="center center" flex="40">
        <div layout="row">
        <md-button class="md-raised md-accent" name="backBtn" ng-click="gc.goBackToTracking(gc.singleGoal.data.id, gc.singleGoal.data.client_id)">Return to Tracking</md-button>
        </div>
      </div>
    </div>

        <!-- Row for Client Info/Dates Box -->
        <div layout="row">
          <div layout="column" flex="50">
            <div layout="row" flex>
              <p class="label">Client Name:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.client_name}}</p>
            </div>
            <div layout="row" flex>
              <p class="label">CHOICE Representative:</p> &nbsp
              <p class="userText">{{gc.casemanagerName}}</p>
            </div>
            <div layout="row" flex>
              <p class="label">Job Site:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.jobSite}}</p>
            </div>
            <div layout="row" flex>
              <p class="label">Goal Name:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.goal_name}}</p>
            </div>
          </div>
          <div layout="column" flex="50">
            <div layout="row" flex>
              <p class="label">Implementation Date:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.implementation_date}}</p>
            </div>
            <div layout="row" flex>
              <p class="label">Review Dates:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.review_dates}}</p>
            </div>
            <div layout="row" flex>
              <p class="label">Completion Date:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.completion_date}}</p>
            </div>
          </div>
        </div> <!-- End of Row for Client Info/Dates Box -->

        <!--Row for Goal Summary for use on the tracking page-->
        <div layout="row" flex>
              <p class="label">GOAL SUMMARY:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.goal_summary}}</p>
          </div>

        <!-- Row for Service Outcome -->
        <div layout="row" flex>
              <p class="label">SERVICE OUTCOME:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.service_outcome}}</p>
        </div> <!-- end of Row for Service Outcome -->

        <!-- Row for Objective -->
        <div layout="row" flex>
              <p class="label">OBJECTIVE:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.objective}}</p>
        </div> <!-- End of Row for Objective -->

        <!-- Row for Methods header -->
        <div layout="row" flex>
          <h3>DESCRIBE METHODS OF IMPLEMENTATION AND DATA COLLECTION BELOW:</h3>
        </div><!-- End of Row for Methods header-->

        <!-- Row for Method - Where/When -->
        <div layout="row" flex>
              <p class="label">Where will the plan be run:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.jobsite_details}}</p>
      </div>
      <div class="row" flex>
              <p class="label">When will the plan be run:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.when_notes}}</p>

        </div> <!-- End of Row for Method - Where/When -->

        <!-- Row for Method - Implemented by -->
        <div layout="row">
            <p class="userText"><span class="label">Implemented by:</span> &nbsp Choice, Inc. Supported Employement Instructors and Direct Service Providers</p>
        </div><!-- End of Row for Method - Implemented by -->

        <!-- Row for Method - Equipment and materials used -->

          <div layout="row" flex>
              <p class="label">What equipment and materials will be needed:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.equipment}}</p>
        </div><!-- End of Row for Method - Equipment and materials used -->

        <!-- Row for Method - behavior techniques -->
        <div layout="row">
              <p class="label">What behavior techniques will be used, consistent with communication mode and learning style:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.behavior_techniques}}</p>
        </div><!-- End of Row for Method - behavior techniques -->

        <!-- Row for Method - changes to environments -->
        <div layout="row">
              <p class="label">Changes or modifications necessary to the physical and social environments:</p> &nbsp
              <p class="userText">{{gc.singleGoal.data.modifications}}</p>
        </div><!-- End of Row for Method - changes to environments -->

        <!-- Row for How to run the plan -->
        <div layout="row">
          <h3>HOW TO RUN THE PLAN STEP BY STEP</h3>
        </div><!-- End of Row for How to run the plan -->

        <!-- Row for Plan Steps -->
        <div layout="row"> &nbsp
              <p class="userText">{{gc.singleGoal.data.plan_steps}}</p>
        </div><!-- End of Row for Plan Steps -->

        <!-- Row for Footer of goal sheet -->
        <div layout="row">
          <p class="label">* Please see report for goal progress</p>
        </div><!-- End of Row for Footer of goal sheet -->

  </md-content> <!-- end of material container-->

</div> <!-- end of container -->
