<div class="navbar" layout="row" ng-controller="NavController as nc" ng-cloak flex>
    <div id="navbarImage" layout="column" layout-align="center center" flex="10">
        <img id="choiceLogoSm" ng-src="../../assets/img/choice-logo-noTag.jpg" alt="Choice inc logo">
    </div>

    <div layout="column" layout="center start" flex="65">
      <md-toolbar class="nav-toolbar" layout="center start">
        <md-menu-bar id="navMenuOptions">
              <md-button ng-click="$mdMenu.open()">
                <a href="#/summary">User Home</a>
              </md-button>

            <md-menu>
              <md-button id="manageGoalsLink" ng-click="$mdMenu.open()">Manage goals</md-button>

              <md-menu-content>
                <md-menu-item>
                  <md-button> <a class="pulldownOption" href="#/goal">Create New Goal</a></md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button><a class="pulldownOption" href="#/editGoal">Edit Existing Goal</a></md-button>
                </md-menu-item>
              </md-menu-content>

            </md-menu>

            <md-button ng-click="$mdMenu.open()">
              <a href="#/tracking">Goal Tracker</a>
            </md-button>

            <md-menu>
              <md-button id="adminToolsLink" ng-click="$mdMenu.open()">Admin Tools</md-button>

              <md-menu-content>
                <md-menu-item>
                  <md-button> <a class="pulldownOption" href="#/staff">Manage Staff</a></md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button><a class="pulldownOption" href="#/clients">Manage Participants</a></md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button><a class="pulldownOption" href="#/jobSites">Manage Job Sites</a></md-button>
                </md-menu-item>
              </md-menu-content>

            </md-menu>

        </md-menu-bar>
      </md-toolbar>
    </div>
    <div layout="column" layout="center start" flex="15">
      <p id="welcomeMsg">Welcome, {{nc.userObject.userName}}!</p>
    </div>
    <div layout="column" layout="center center" flex="10">
      <md-button id="logoutBtn" class="md-raised md-accent" ng-click="nc.userService.logout()">Log Out</md-button>
    </div>

</div>
