<div ng-controller="NavController as nc" ng-cloak>
  <md-toolbar class="nav-toolbar">
    <div layout="row">
        <md-menu-bar>

              <md-button ng-click="$mdMenu.open()">
                <a href="#/summary">User Home</a>
              </md-button>

            <md-menu>
              <md-button ng-click="$mdMenu.open()"> Manage goals </md-button>

              <md-menu-content>
                <md-menu-item>
                  <md-button> <a class="pulldownOption" href="#/goal">Create New Goal</a></md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button><a class="pulldownOption" href="#/editGoal">Edit Existing Goal</a></md-button>
                </md-menu-item>
              </md-menu-content>

            </md-menu>

            <md-button ng-click="$mdMenu.open()">
              <a href="#/tracking">Goal Tracker</a>
            </md-button>
            <md-button ng-click="$mdMenu.open()">
              <a href="#/staff">Manage Staff</a>
            </md-button>
            <md-button ng-click="$mdMenu.open()">
              <a href="#/jobSites">Manage Jobsites</a>
            </md-button>
          </md-menu>

        </md-menu-bar>
    </div>
  </md-toolbar>
</div>
