<div ng-include="'views/partials/nav.html'"></div>
<!-- MANAGE STAFF PAGE - This page will allow the admin to add/disable staff and edit their listings -->

<h1>Manage Participants</h1>

  <input type="text" name="" value="" placeholder="name" ng-model="cc.clientToAdd.name">

  <md-select ng-model="cc.clientToAdd.staff_id" placeholder="Case Manager" class="md-no-underline">
  <md-option ng-repeat="cms in cc.staffArray" value="{{cms.id}}">{{cms.staff_name}}</md-option>
  </md-select>

<input type="submit" name="" value="Add new client" ng-click="cc.addNewClient()">


<table>
  <thead>
    <th>Name</th>

    <th>Case Manager</th>
    <th>Status</th>

  </thead>
  <tbody>
    <tr ng-repeat="client in cc.clientArray">

      <td ng-hide="client.editing == true">{{client.client_name}}</td>
      <td ng-show="client.editing == true"><input type="text" name="" ng-value="cc.clientToEdit.client_name" placeholder="name" ng-model="cc.clientToEdit.client_name"></td>


      <td ng-hide="client.editing == true">{{client.staff_name}}</td>
      <td ng-show="client.editing == true">
        <md-select ng-model="cc.clientToEdit.staff_id" placeholder="Case Manager" class="md-no-underline">
        <!-- <md-option ng-repeat="cm in cc.staffArray" value="{{cm.staff_name}}">{{cm.staff_name}}</md-option> -->
        <md-option ng-repeat="cm in cc.staffArray" value="{{cm.id}}">{{cm.staff_name}}</md-option>
        </md-select>
      </td>

      <td ng-hide="client.editing == true">{{client.status}}</td>
      <td ng-show="client.editing == true">
        <md-select ng-model="cc.clientToEdit.active" placeholder="Status" class="md-no-underline">
        <!-- <md-option ng-repeat="cm in cc.staffArray" value="{{cm.staff_name}}">{{cm.staff_name}}</md-option> -->
        <md-option ng-value="true">Active</md-option>
        <md-option ng-value="false">Inactive</md-option>
        </md-select>
      </td>


      <td>
        <input ng-hide="client.editing == true" type="submit" name="" value="Edit" ng-click="cc.toggleEditing(client)">
        <input ng-show="client.editing == true" type="submit" name="" value="Submit" ng-click="cc.updateClient(cc.clientToEdit)">
        <input ng-show="client.editing == true" type="submit" name="" value="Cancel" ng-click="cc.toggleEditing(client)">
      </td>
    </tr>

  </tbody>
</table>
