<div ng-include="'views/partials/nav.html'"></div>
<!-- MANAGE STAFF PAGE - This page will allow the admin to add/disable staff and edit their listings -->

<h1>Choice Clients</h1>
<p>{{cc.message}}</p>

<table>
  <thead>
    <th>Name</th>
    <th>Location</th>
    <th>Case Manager</th>
    <th>Status</th>

  </thead>
  <tbody>
    <tr ng-repeat="client in cc.clientArray">

      <td>{{client.client_name}}</td>

      <td ng-hide="client.editing == true">{{client.location}}</td>
      <td ng-show="client.editing == true">
        <md-select ng-model="cc.clientToEdit.location" placeholder="staff" class="md-no-underline">
        <md-option ng-repeat="loc in cc.locationArray" value="{{loc}}">{{loc}}</md-option>
        </md-select>
      </td>

      <td ng-hide="client.editing == true">{{client.staff_name}}</td>
      <td ng-show="client.editing == true">
        <md-select ng-model="cc.clientToEdit.staff_id" placeholder="Case Manager" class="md-no-underline">
        <!-- <md-option ng-repeat="cm in cc.staffArray" value="{{cm.staff_name}}">{{cm.staff_name}}</md-option> -->
        <md-option ng-repeat="cm in cc.getStaffList()" value="{{cm.id}}">{{cm.staff_name}}</md-option>
        </md-select>
      </td>

      <td ng-hide="client.editing == true">{{client.status}}</td>
      <td ng-show="client.editing == true">
        <md-select ng-model="cc.clientToEdit.active" placeholder="Status" class="md-no-underline">
        <!-- <md-option ng-repeat="cm in cc.staffArray" value="{{cm.staff_name}}">{{cm.staff_name}}</md-option> -->
        <md-option ng-value="true">Active</md-option>
        <md-option ng-value="false">Inactive</md-option>
        </md-select>
      </td>


      <td>
        <input ng-hide="client.editing == true" type="submit" name="" value="Edit" ng-click="cc.toggleEditing(client)">
        <input ng-show="client.editing == true" type="submit" name="" value="Submit" ng-click="cc.updateClient(cc.clientToEdit)">
        <input ng-show="client.editing == true" type="submit" name="" value="Cancel" ng-click="cc.toggleEditing(client)">
      </td>
    </tr>

  </tbody>
</table>
