<div ng-include="'views/partials/nav.html'"></div>
<!-- MANAGE STAFF PAGE - This page will allow the admin to add/disable staff and edit their listings -->
<div class="container" layout="column" flex>
  <md-content>
    <div layout="row" flex>
      <h1>Manage Participants</h1>
    </div>

    <!-- Add New Client-->
    <div layout="row" flex>
      <md-input-container>
        <label> Participant Name: </label>
        <input type="text" placeholder="Enter name" ng-model="cc.clientToAdd.name">
      </md-input-container>
      <md-input-container>
        <md-select ng-model="cc.clientToAdd.staff_id" placeholder="Selec Case Manager" class="md-no-underline">
          <md-option ng-repeat="cms in cc.staffArray" value="{{cms.id}}">{{cms.staff_name}}</md-option>
        </md-select>
      </md-input-container>
      <md-button id="addStaffBtn" class="md-raised md-accent" type="submit" ng-click="cc.addNewClient()">Add new client</md-button>
    </div> <!-- end of add client div -->

    <!-- Particpant table -->
    <div layout="row" flex>
      <md-table-container>
        <table md-table id="clientTable">
          <thead md-head class="tableHeader">
            <th md-column class="headerName">Name</th>
            <th md-column class="headerName">Case Manager</th>
            <th md-column class="headerName">Status</th>
            <th md-column></th>
          </thead>
          <tbody md-body>
            <tr md-row ng-class="tc.rowClass" ng-repeat="client in cc.clientArray">
              <td md-cell ng-hide="client.editing == true">{{client.client_name}}</td>
              <td md-cell ng-show="client.editing == true"><input type="text" name="" ng-value="cc.clientToEdit.client_name" placeholder="name" ng-model="cc.clientToEdit.client_name"></td>

              <td md-cell ng-hide="client.editing == true">{{client.staff_name}}</td>
              <td md-cell ng-show="client.editing == true">
                <md-select ng-model="cc.clientToEdit.staff_id" placeholder="Case Manager" class="md-no-underline">
                  <!-- <md-option ng-repeat="cm in cc.staffArray" value="{{cm.staff_name}}">{{cm.staff_name}}</md-option> -->
                  <md-option ng-repeat="cm in cc.staffArray" value="{{cm.id}}">{{cm.staff_name}}</md-option>
                </md-select>
              </td>

            <td md-cell ng-hide="client.editing == true">{{client.status}}</td>
            <td md-cell ng-show="client.editing == true">
              <md-select ng-model="cc.clientToEdit.active" placeholder="Status" class="md-no-underline">
              <!-- <md-option ng-repeat="cm in cc.staffArray" value="{{cm.staff_name}}">{{cm.staff_name}}</md-option> -->
              <md-option ng-value="true">Active</md-option>
              <md-option ng-value="false">Inactive</md-option>
              </md-select>
            </td>
            <td md-cell>
              <input ng-hide="client.editing == true" type="submit" name="" value="Edit" ng-click="cc.toggleEditing(client)">
              <input ng-show="client.editing == true" type="submit" name="" value="Submit" ng-click="cc.updateClient(cc.clientToEdit)">
              <input ng-show="client.editing == true" type="submit" name="" value="Cancel" ng-click="cc.toggleEditing(client)">
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div> <!-- end of table div -->

  </md-content>
</div> <!-- end of container div -->
