<div ng-include="'views/partials/nav.html'"></div>
<!-- EDIT GOAL CRITERA PAGE - View and edit goal criteria guidelines -->


<div class="container" ng-controller="GoalController as gc" >
  <!-- Top Bar: Select client name, select goal w/ Edit and Disable buttons -->
  <div class="clientSelection">


    <!-- Edit & Disable buttons -->
    <md-button type="button" name="editBtn">Edit</md-button>
    <md-button type="button" name="disableBtn" ng-click="gc.disableCriteria(gc.goal_id)">Disable</md-button>
  </div>

  <!-- Bottom Portion: Load goal.html and populate w/ selected criteria's data -->
  <div ng-include="'views/templates/goal.html'"></div>











</div>
