<div class="container loginScreen">
  <div class="loginBox" layout="column" layout-align="center center" flex="60">
    <h1 class="lead">Register User</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <form class="loginForm" ng-submit="lc.registerUser()">
      <div>
          <label for="username">Username:</label>
          <input type="text" placeholder="Use your Choice email" ng-model="lc.user.username" />
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="lc.user.password" />
      </div>
      <md-button class="md-raised md-accent" type="submit" name="submit" value="Register" />Register</md-button>
      <a href="#home">Cancel</a>
    </form>
  </div>
</div>
