<div ng-include="'views/partials/nav.html'"></div>
<!-- MANAGE STAFF PAGE - This page will allow the admin to add/disable staff and edit their listings -->


<h1>Choice Employees</h1>
<p>{{sc.message}}</p>

<table>
  <thead>
    <th>Name</th>
    <th>Job Title</th>
    <th>Email</th>
    <th>Manage Staff</th>
  </thead>
  <tbody>
    <tr ng-repeat="staffMember in sc.staffArray">
      <td>{{staffMember.staff_name}}</td>
      <td>{{staffMember.role}}</td>
      <td>{{staffMember.email}}</td>
      <td><input type="submit" name="" value="Update"> <input type="submit" name="" value="Deactive"></td>
    </tr>
  </tbody>
</table>
