<div ng-include="'views/partials/nav.html'"></div>
<!-- MANAGE STAFF PAGE - This page will allow the admin to add/disable staff and edit their listings -->

<h1>Choice Employees</h1>
<p>{{sc.message}}</p>

<form class=""  ng-submit="sc.newEmployee()">
  <input type="text" name="" value="" placeholder="name" ng-model="sc.employee.name">
  <input type="text" name="" value="" placeholder="email address" ng-model="sc.employee.email">
  <select ng-model="sc.employee.location" ng-options="x.place for x in sc.location"></select>
  <select ng-model="sc.employee.role" ng-options="y.role for y in sc.roles"></select>
<br><br>
  <input type="submit" name="" value="Add new employee">
</form>
<br>
<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Job Title</th>
    <th>Location</th>
    <th>Manage Staff</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="staffMember in sc.staffArray">
      <td editable-text="staffMember.staff_name" e-name="staff_name" e-form="staffForm">{{staffMember.staff_name}}</td>
      <td editable-text="staffMember.email" e-name="email" e-form="staffForm">{{staffMember.email}}</td>
      <td editable-select="staffMember.role" e-ng-options="x.role as x.roleString for x in sc.roles" e-name="role" e-form="staffForm" >{{staffMember.roleString}}</td>
      <td editable-select="staffMember.location" e-ng-options="y.place for y in sc.location" e-name="location" e-form="staffForm" >{{staffMember.location}}</td>
      <td>
        <input type="submit" name="" ng-click="sc.toggleEmployee(staffMember.employed, staffMember.staffs_id)" value="{{staffMember.status}}">
        <form editable-form name="staffForm" ng-show="staffForm.$visible" onbeforesave="sc.updateEmployee($data, staffMember.staffs_id)">
            <button type="submit" ng-disabled="staffForm.$waiting" class="saveBtn">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
            <button type="button" ng-disabled="staffForm.$waiting"  class="cancelBtn" ng-click="staffForm.$cancel()">
              <i class="fa fa-ban" aria-hidden="true"></i>
            </button>
        </form>
          <div class="buttons" ng-show="!staffForm.$visible">
          <button type="button" class="editBtn" ng-click="staffForm.$show()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          <!-- <button type="button" class="deleteBtn" ng-click="rc.deleteHop(hop.hopType, hop.hopName)"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
        </form>
      </td>
    </tr>
  </tbody>
</table>
